@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

:root {
  --cor1: #fff;
  --cor2: #1D70D9;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;

}

.conteudo-principal {
  width: 100%;
  height: 100%;
  background-color: #282828;
}

.header {
  display: flex;
  justify-content: space-between;
  word-spacing: 12px;
  margin-left: 2.5%;
}

.header-texto {
  display: flex;
  align-items: center;
}

.header-texto a {
  text-decoration-line: none;
  color: var(--cor1);
  padding-left: 5%;
}

.header-images {
  margin-right: 2.3%;
  margin-top: 1%;
}

.header-images img {
  width: 60px;
  height: 60px;
}

.linkedin-icon {
  margin-right: 20px;
}

.github-icon {
  margin-right: 2px;
}

.conteudo {
  display: flex;
  justify-content: space-around;
}

.apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--cor1);
}

#dev {
  font-size: 35px;
}

#dev-descricao {
  font-size: 20px;
}

.foto img {
  width: 100%;
  height: 100%;
}

/* HABILIDADES */

.habilidades {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  color: var(--cor1);
  padding-bottom: 5%;
}

.habilidades h1 {
  font-size: 40px;
  padding-top: 1.5%;
  margin-left: 2%;
}

.linguagens {
  font-size: 22px;
  margin-left: 2%;
  padding-bottom: 3%;
}

.linguagens-imagens img {
  width: 6%;
  height: 6%;
  padding-left: 1%;
}

/* TEXTO H1 */

.texto-h1 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 2%;
  color: white;
}

/* PROJETOS */

.projetos {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  width: 100%;
  height: 100%;
  color: var(--cor1);
  padding-bottom: 5%;
}

.projetos-imagens {
  display: flex;
  justify-content: space-evenly;
}

.projetos-images img {
  width: 100%;
  height: auto;
}

/* SERVIÇOS */

.servicos {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  width: 100%;
  height: 100%;
  color: var(--cor1);
  padding-bottom: 5%;
}

.servicos-info {
  display: flex;
  justify-content: space-evenly;
}

.servicos-texto {
  width: 25%;
  height: 30%;
  padding-bottom: 4%;
}

.servicos-texto h1 {
  font-size: 28px;
  text-align: center;
}

/* CONTATO */

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #282828;
  color: var(--cor1);
  padding-bottom: 5%;
}

.contato-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 32%;
  height: 570px;
  background-color: #fff;
  color: black;
}

.contato-form input {
  width: 84%;
  height: 6%;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

.contato-form textarea {
  width: 84%;
  height: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 5%;

}

.contato-form button {
  font-size: 17px;
  padding: 12px 28px 12px 28px;
  background-color: var(--cor2);
  color: white;
  margin-top: 6%;
  border-radius: 10px;
  border-color: var(--cor2);
}

.contato-form button:hover {
  background-color: #0e5abd;
}

.enviado {
  margin-top: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  width: auto;
  background-color: #313131;
  padding: 1% 2%;
}

.footer img {
  width: 73px;
  height: 73px;
  margin-left: 35px;
}

@media only screen and (min-width: 360px) and (max-width: 599px) {
  .texto-h1 {
    font-size: 30px;
  }

  #dev {
    font-size: 28px;
  }

  #dev-descricao, .habilidades span{
    font-size: 18px;
  }

  .header {
    word-spacing: 3px;
  }

  .header-images img {
    width: 40px;
    height: 40px;
  }

  .header-texto p {
    display: flex;
    align-items: center;
    padding-left: 2.5%;
  }

  .apresentacao {
    margin-left: 25px;
    padding-top: 5%;
    padding-bottom: 7%;
  }

  .foto img {
    display: none;
  }

  .habilidades {
    padding-left: 10px;
  }

  .habilidades h1 {
    font-size: 30px;
  }

  .linguagens-imagens {
    padding-top: 2%;
  }

  .projetos {
    display: flex;
    align-items: center;
    padding-top: 10px;
  }

  .projetos-imagens {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    padding-bottom: 25px;
  }

  .projetos-imagens img {
    padding-top: 12%;
  }

  .servicos {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .servicos span {
    font-size: 15px;
  }

  .servicos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .servicos-info h1 {
    font-size: 20px;
  }

  .servicos-texto {
    width: 55%;
    padding-bottom: 4%;
  }

  .contato {
    display: flex;
    align-items: center;
  }

  .contato-form {
    width: 90%;
    height: 500px;
    margin-bottom: 35px;
  }

  .contato-form h1 {
    font-size: 20px;
  }

  .footer img {
    width: 45px;
    height: 45px;
    margin-left: 35px;
  }

}

@media only screen and (min-width: 600px) and (max-width: 1080px) {
  .apresentacao {
    margin-left: 20px;
  }

  .foto img {
    width: 80%;
    height: 100%;
  }

  .projetos {
    background-color: #00bbfa !important;
  }

  .projetos-imagens img {
    display: flex;
    justify-content: space-evenly;
    width: 27%;
    height: auto;
  }
  .contato-form {
    width: 70%;
    height: 500px;
    margin-bottom: 35px;
  }
}